body {
  margin: 0;
}

header {
  background-color: aqua;
  height: 100px;
}

section {
  width: 70%;
  margin: auto;
}

.flex {
  display: flex;
}

.header-section {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.div-header {
  background-color: goldenrod;
  border: dotted black 2px;
  padding: 5px;
}

.logo,
.login {
  width: 25%;
}

.link {
  width: 50%;
  text-align: center;
}
