body {
  margin: 0;
}

header {
  background-color: rgb(173, 216, 230);
  height: 100px;
}

section {
  width: 70%;
  margin: auto;
}

.flex {
  display: flex;
}

.header-section {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.div-header {
  background-color: rgb(218, 165, 32);
  border: dotted black 2px;
  padding: 5px;
  font-size: larger;
}

.logo,
.login {
  width: 25%;
}

.link {
  width: 50%;
  text-align: center;
}

.login {
  text-align: end;
}

.bluebkg {
  background-color: rgb(0, 0, 139);
  height: 500px;
}

.single-box {
  background-color: rgb(238, 130, 238);
  height: 400px;
  border: dotted black 4px;
  border-radius: 10px;
}

.column-div {
  height: 500px;
}

.big-col {
  height: 400px;
  width: 65%;
  background-color: rgb(30, 144, 255);
  border: dotted black 2px;
}

.small-col {
  height: 400px;
  width: 35%;
  background-color: pink;
  border: dotted black 2px;
}

.graybkg {
  background-color: rgb(211, 211, 211);
}

.big-box {
  background-color: rgb(211, 211, 211);
  height: 800px;
}

.green-box {
  height: 90%;
  background-color: rgb(34, 139, 34);
  border: dotted black 2px;
}

.blackbkg1 {
  background-color: #23272a;
  height: 500px;
}

.pink-col {
  height: 450px;
  width: 30%;
  margin-top: -10px;
  background-color: rgb(240, 128, 128);
  border: dotted black 2px;
}

.blue-col {
  height: 450px;
  width: 70%;
  margin-top: -10px;
  background-color: rgb(32, 178, 170);
  border: dotted black 2px;
}

.little-col {
  height: 100%;
  width: 25%;
  border: dotted white 2px;
}

.blackbkg2 {
  background-color: #23272a;
  margin-top: 1px;
  padding-top: 10px;
  align-items: flex-end;
}

.footersection {
  background-color: aquamarine;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.footerdiv {
  background-color: #ffb6c1;
  padding: 10px;
  border: dotted black;
}
